/* 选项卡 */
/* .tab-header,
.tab-body {
  width: 70%;
  margin: 0 auto;
} */
/* 头部 */
/* .tab-header > li {
  float: left;
  width: 20%;
  text-align: center;
} */
/* 选中 */ 
.tab-header > li {
  cursor: pointer;
}
.tab-header > li.active {
}
.tab-body > li {
  display: none;
}
.tab-body > li.active {
  display: block;
}
